body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    height: 90%;
}
h1{


    font-family: 'La Belle Aurore', 'cursive';
    font-size: 24px;
   font-weight: bold;
cursor: pointer;
color: rgb(25, 127, 161);
}


nav ul li{
    display: inline-block;
    padding: 0px 20px;
    
}
ul ,li , a{
    text-decoration: none;
    list-style-type: none;
}

header{
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background:white;
}
header a{
    color: black;
    font-size: 20px;
    padding: 10px;
    /* border: 2px red solid; */
    border-radius: 25px;
}
header a:hover{
    font-weight: bold;
}
#card-num{
    display: flex;
    justify-content: center;
    
}
header img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

#cardspan{
padding: 5px;
    font-size: 18px;
margin: auto;
}




/* blabla */
.blabla{
    padding: 100px;
    column-count: 1;
            /* font-family: 'Changa', 'sans-serif'; */
    
}
h2 {
    column-span: all;
}
/* cat-btn */
.cat-main{
    display: flex;
    flex-direction: column;

}
.cat-btn{

    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-between;
    align-items: center;
    gap: 60px;
   
}
.cat-btn button{
    border: none;
        outline: 0;
        padding: 12px;
        color: white;
    height: 50px;
    background-color: rgb(25, 127, 161);
        text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;

}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 80px;
    padding: 10px;
    justify-content: space-around;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}
.card p.title{
    text-transform: capitalize;
    font-size: large;
    text-align: center;
}

.card p.price {
    text-transform: capitalize;
    font-size: large;
    text-align: center;
}
.card img{
    padding: 20px;
    height: 200px;
    object-fit: contain;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:  rgb(25, 127, 161);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
footer {
    margin-bottom: 0px;
    

    text-align: center;
}

#top{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}